<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문내역</title>
    <link rel="stylesheet" th:href="@{/css/item.css}">
</head>
<body>
<button onclick="location.href='/admin'"><img th:src="@{/images/home.jpg}" width = "30" height="30" alt="Image"></button>
  <div class="container">
      
      <table class="order-list">
          <thead>
            <tr>
                <th>주문번호</th>
                <th>고객명</th>
                <th>날짜</th>
                <th>가격</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orders : ${orders}">
                <td th:text="${orders.id}"></td>
                <td th:text="${orders.member.name}"></td>
                <td th:text="${orders.orderDate}"></td>
                <td th:text="${orders.totalPrice}"></td>
            </tr>
            </tbody>
      </table>
      
  </div>
   
    
</body>
</html>