<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>케어 쇼핑몰</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div class="container">
        <div class="header">
            <p>케어 쇼핑몰</p>
        </div>
        <div class="context">
            <img th:src="@{/images/pants1.jpg}" width = "150" height="150" alt="Image">
            <img th:src="@{/images/pants2.png}" width = "150" height="150" alt="Image">
        </div>
        <div class="context">
            <img th:src="@{/images/hat.png}" width = "150" height="150" alt="Image">
            <img th:src="@{/images/top.jpg}" width = "150" height="150" alt="Image">
        </div>
        <div class="btn">
            <button onclick="location.href='/member/login'">로그인</button>
            <button onclick="location.href='/member/new'">회원가입</button>
        </div>
    </div>
    
</body>
</html>
